<div class="p-3 mb-2 bg-dark text-white">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Chic Threads Boutique</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

            <!-- SALE -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SALE
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Мужчины</a></li>
                        <li><a class="dropdown-item" href="#">Женщины</a></li>
                        <li><a class="dropdown-item" href="#">Мальчики</a></li>
                        <li><a class="dropdown-item" href="#">Девочки</a></li>
                    </ul>
                </div>

                <!-- Мужчины -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    МУЖЧИНЫ
                    </a>
                    
                    <ul class="dropdown-menu">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <li><a class="dropdown-item" href="#">Мужчины</a></li>
                                </div>
                                <div class="col">
                                    <li><a class="dropdown-item" href="#">Женщины</a></li>
                                </div>
                                <div class="col">
                                    <li><a class="dropdown-item" href="#">Девочки</a></li>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>

                <!-- Женщины -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ЖЕНЩИНЫ
                    </a>
                
                    <ul class="dropdown-menu">
                        
                    </ul>
                </div>

                <!-- Мальчики -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    МАЛЬЧИКИ
                    </a>
                
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Мужчины</a></li>
                        <li><a class="dropdown-item" href="#">Женщины</a></li>
                        <li><a class="dropdown-item" href="#">Мальчики</a></li>
                        <li><a class="dropdown-item" href="#">Девочки</a></li>
                    </ul>
                </div>

                <!-- Девочки -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ДЕВОЧКИ
                    </a>
                
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Мужчины</a></li>
                        <li><a class="dropdown-item" href="#">Женщины</a></li>
                        <li><a class="dropdown-item" href="#">Мальчики</a></li>
                        <li><a class="dropdown-item" href="#">Девочки</a></li>
                    </ul>
                </div>

                <!-- Аксесуары -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    АКСЕСУАРЫ
                    </a>
                
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Мужчины</a></li>
                        <li><a class="dropdown-item" href="#">Женщины</a></li>
                        <li><a class="dropdown-item" href="#">Мальчики</a></li>
                        <li><a class="dropdown-item" href="#">Девочки</a></li>
                    </ul>
                </div>
              
                <!-- search -->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <!-- authorization -->
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Вход
                    </button>
                    <form class="dropdown-menu p-4">
                    <div class="mb-3">
                        <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">
                            Remember me
                        </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>

            </div>
        </div>
    </nav>
  
    <router-outlet></router-outlet>

    <div class="container">
        <figure class="text-center py-3 my-4">
          <blockquote class="blockquote">
            <p>
                ппп
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">red cucumbers</cite>
          </figcaption>
        </figure>
    
        <footer class="">
          <p class="text-center text-body-secondary">© 2023 red cucumbers, Inc</p>
        </footer>
    </div>
</div>

